
//- include ../../html/_conversion/_gtag.html
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
meta(name="format-detection", content="telephone=no")
title #{head.title}
meta(name="description", content=head.description)
meta(name="keywords", content=head.keywords)
//- meta(name="robots" content="noindex,nofollow")

if slug === "top"
  meta(property="og:type", content="website")
else
  meta(property="og:type", content="article")
meta(property="og:local", content="ja_JP")
meta(property="og:site_name", content=site.name)
meta(property="og:title", content=head.title)
meta(property="og:description", content=head.description)
meta(property="og:url", content=head.url)
meta(property="og:image", content=site.ogp)
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=head.title)
meta(name="twitter:description", content=head.description)

meta(name="twitter:image", content=site.ogp)
meta(name="twitter:site", content="@" + site.copyright)

link(rel="preconnect", href="//fonts.googleapis.com")
link(rel="preconnect", href="//fonts.gstatic.com" crossorigin)
link(href="//fonts.googleapis.com/css2?family=Lexend+Giga:wght@600;700&family=Manrope:wght@700&family=Noto+Sans+JP:wght@400;500;600;700;900&display=swap" rel="stylesheet")
//- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
link(rel="icon", href=site.icon)
link(rel="canonical", href=head.url)
link(rel="stylesheet", href=site.assets + "css/style.css")
//- link(rel="stylesheet", href="/_assets/css/" + slug + ".css")

//- include ./_jsonLd

//- include ../../html/_conversion/_gtag2.html
